* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.2s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 10px;
  width: 90%;
  background-color: #ffffff00;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.app {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  background-color: #fafafa;
}

.app-header {
  padding: 20px;
}

.app-body {
  padding: 20px;
}

.app-body__button {
  width: 10%;
}
.app-body__input {
  border-bottom: 2px solid #615757;
}

.app-body-tasks {
  display: flex;
  flex-direction: column;
}

.app-body-tasks__element,
.app-body-tasks__elementCompleted {
  display: flex;
  padding: 20px 80px;
  border-bottom: 1px solid #afafaf;
  background-image: url(/public/images/icons8-круг-50.png);
  background-position: center left 5%;
  background-repeat: no-repeat;
}

.app-body-tasks__elementCompleted {
  background-color: #d4d4d4;
  background-image: url(/public/images/icons8-галочка-50.png);
}

.task__checkbox {
  margin: auto;
  width: 10%;
  height: 100%;
}

.task__text {
  cursor: auto;
}

.app-footer>* {
  padding: 20px;
}

.app-footer {
  display: flex;
  gap: 20px;
}
